In [1]:
from Univariate import Univariate
import pandas as pd

In [2]:
dataset=pd.read_csv("Placement.csv")

In [ ]:
quan,qual = Univariate.quanQual(dataset)

In [ ]:
quan

In [ ]:
qual

In [ ]:
dataset['ssc_p'].mean()

In [ ]:
dataset['ssc_p'].median()

In [ ]:
dataset['ssc_p'].mode()[0]

In [ ]:
dataset.describe()

In [ ]:
descriptive = Univariate.Univariate(dataset,quan)
descriptive

In [ ]:
import numpy as np

np.percentile(dataset["ssc_p"],75)

In [5]:
dataset["ssc_p"].value_counts()
# dataset["ssc_p"].value_counts().index
# dataset["ssc_p"].value_counts().values
# dataset["ssc_p"].value_counts().sort_index
# dataset["ssc_p"].value_counts().sort_values

ssc_p
62.00    11
63.00    10
67.00     9
52.00     9
73.00     9
         ..
69.70     1
80.92     1
83.00     1
86.50     1
80.60     1
Name: count, Length: 103, dtype: int64

In [6]:
freqTable = pd.DataFrame(columns = ["Unique Values","Frequency","Relative Frequency","Cumsum"])

In [15]:
freqTable

     Unique Values  Frequency  Relative Frequency    Cumsum
0            62.00         11            0.106796  0.106796
1            63.00         10            0.097087  0.203883
2            67.00          9            0.087379  0.291262
3            52.00          9            0.087379  0.378641
4            73.00          9            0.087379  0.466019
..             ...        ...                 ...       ...
98           69.70          1            0.009709  2.048544
99           80.92          1            0.009709  2.058252
100          83.00          1            0.009709  2.067961
101          86.50          1            0.009709  2.077670
102          80.60          1            0.009709  2.087379

[103 rows x 4 columns]

In [14]:
freqTable['Unique Values']=dataset['ssc_p'].value_counts().index
freqTable['Frequency']=dataset['ssc_p'].value_counts().values
freqTable['Relative Frequency']=freqTable['Frequency']/103
freqTable['Cumsum']=freqTable['Relative Frequency'].cumsum()

In [17]:
def freqTable(columnName,dataset):
    freqTable = pd.DataFrame(columns = ["Unique Values","Frequency","Relative Frequency","Cumsum"])
    freqTable['Unique Values']=dataset[columnName].value_counts().index
    freqTable['Frequency']=dataset[columnName].value_counts().values
    freqTable['Relative Frequency']=freqTable['Frequency']/103
    freqTable['Cumsum']=freqTable['Relative Frequency'].cumsum()
    return freqTable

In [18]:
freqTable("ssc_p",dataset)

     Unique Values  Frequency  Relative Frequency    Cumsum
0            62.00         11            0.106796  0.106796
1            63.00         10            0.097087  0.203883
2            67.00          9            0.087379  0.291262
3            52.00          9            0.087379  0.378641
4            73.00          9            0.087379  0.466019
..             ...        ...                 ...       ...
98           69.70          1            0.009709  2.048544
99           80.92          1            0.009709  2.058252
100          83.00          1            0.009709  2.067961
101          86.50          1            0.009709  2.077670
102          80.60          1            0.009709  2.087379

[103 rows x 4 columns]